@font-face {
  font-family: "Montserrat";
  src: url("/font/Montserrat-VariableFont_wght.ttf") format("truetype");
}
.collapse-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.collapse-container .collapse-title {
  background-color: #FF6060;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
  height: 30px;
  border-radius: 5px;
}
.collapse-container .collapse-title h2 {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 700;
  margin: 0;
  line-height: 2.2;
  padding-left: 10px;
}
.collapse-container .collapse-title .chevron-collapse {
  margin-right: 10px;
  height: 100%;
  width: 16px;
  cursor: pointer;
  transition: transform 400ms ease-in-out;
}
.collapse-container .under-collapse {
  max-height: 0;
  transform: translateY(-100%);
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(246, 246, 246, 0.4509803922);
  padding: 0px 15px;
  position: relative;
  z-index: 1;
  margin-top: -3px;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  transition: 400ms ease-in-out;
}
.collapse-container .under-collapse p, .collapse-container .under-collapse ul {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}
.collapse-container .under-collapse ul {
  list-style-type: none;
  padding: 0;
}
.collapse-container.open .collapse-title .chevron-collapse {
  transform: rotate(-180deg);
}
.collapse-container.open .under-collapse {
  max-height: 400px;
  opacity: 1;
  overflow: hidden;
  transform: translateY(0);
  padding: 15px 15px;
  margin-top: -3px;
}
@media (min-width: 990px) {
  .collapse-container.open .under-collapse {
    max-height: 400px;
    opacity: 1;
    overflow: hidden;
    transform: translateY(0);
    padding: 25px 20px;
    margin-top: -3px;
  }
}
.collapse-container.close .collapse-title .chevron-collapse {
  transform: rotate(0deg);
}
.collapse-container.close .under-collapse {
  opacity: 0;
  overflow: hidden;
  padding: 0 15px;
  margin-top: 0;
}
@media (min-width: 990px) {
  .collapse-container.close .under-collapse {
    opacity: 0;
    overflow: hidden;
    padding: 0 20px;
    margin-top: 0;
  }
}

@media (min-width: 990px) {
  .collapse-container .collapse-title {
    height: 52px;
    border-radius: 10px;
    transition: border-radius 400ms ease-in-out;
  }
  .collapse-container .collapse-title h2 {
    font-size: 18px;
    line-height: 3;
  }
  .collapse-container .collapse-title .chevron-collapse {
    margin-right: 15px;
    width: 24px;
  }
  .collapse-container .under-collapse {
    padding: 0 20px;
  }
  .collapse-container .under-collapse p, .collapse-container .under-collapse ul {
    font-size: 18px;
  }
  .collapse-container.open .collapse-title {
    border-radius: 5px;
  }
  .about-collapse .collapse-container .collapse-title {
    border-radius: 5px;
  }
  .about-collapse .collapse-container.open .collapse-title {
    animation: none;
  }
  .about-collapse .collapse-container.close .collapse-title {
    animation: none;
  }
}/*# sourceMappingURL=collapse.css.map */