@use '../../assets/variables' as var;

.card{
    position: relative;
    height: 255px;
    figure{
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        img{
            width: 100%;
            height: 255px;
            object-fit: cover;
            border-radius: 10px;
        }
        figcaption{
            position: absolute;
            bottom: 0;
            font-size: 18px;
            font-weight: 700;
            color: var.$primary-color;
            background: var.$linear-gradient;
            display: flex;
            align-items: flex-end;
            padding: 10px 15px;
            width: 100%;
            box-sizing: border-box;
            border-radius: 10px;
        }
    }
}

// version desktop 
@media (min-width: 990px){
    .card{
        height: 340px;
        max-width: 340px;
        figure{
            img{
                height: 340px;
                border-radius: 25px;
            }
            figcaption{
                border-radius: 25px;
                padding-top: 260px;
                padding: 15px;
            }
        }
    }
}