@use '../../assets/variables' as var;
@use '../../assets/mixins' as mix;


// mobile
.slide-container{
    width: 100%;
    height: 255px;
    max-width: 335px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    @include mix.opacity-animation;
    .chevron{
        position: absolute;
        width: 11px;
        height: 19px;
        cursor: pointer;
        &.next{
            right:5px;
            top: 120px;            
        }
        &.prev{
            left:5px;
            top: 120px;
            transform: rotate(180deg);
        }
    }
    img{
        width: 100%;
        height: 255px;
        object-fit: cover;
        position: absolute;
        top: 0;
        border-radius: 10px;
    }
    span{
        display: none;
    }
}
//Transition de droite à gauche 
.right-to-left {
    animation: slide-right-to-left 0.6s ease-in-out forwards;
}

@keyframes slide-right-to-left {
    from {
        opacity: 0;
        transform: translateX(100%); 
    }
    to {
        opacity: 1;
        transform: translateX(0); 
    }
}

// Transition de gauche à droite 
.left-to-right {
    animation: slide-left-to-right 0.6s ease-in-out forwards;
}

@keyframes slide-left-to-right {
    from {
        transform: translateX(-100%); 
    }
    to {
        transform: translateX(0); 
    }
}

// desktop 
@media (min-width: 990px){
    .slide-container{
        height: 415px;
        max-width: 1240px;
        position: relative;
        .chevron{
            width: 46px;
            height: 80px;
            &.next{
                right:25px;
                top: 165px;            
            }
            &.prev{
                left:25px;
                top: 165px;
                transform: rotate(180deg);
            }
        }
        img{
            height: 415px;
        }
        span{
            display: block;
            position: absolute;
            bottom: 0;
            z-index: 2000;
            text-align: center;
            width: 100%;
            color:var.$primary-color;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 20px;
        }
    }
}