
@mixin opacity-animation {
    @keyframes opacity-animation {
        from {
            opacity: 0;
        }
        to {
            opacity: 1; 
        }
    }
    animation: opacity-animation 1.2s ease-in-out; 
}

@mixin collapse-animation-close {
    opacity: 0;
    overflow: hidden;
    padding: 0 15px;
    margin-top: 0;
    @media (min-width: 990px){
            opacity: 0;
            overflow: hidden;
            padding: 0 20px;
            margin-top: 0;
    }

}
@mixin arrow-animation-portfolio{
    @keyframes toAndFro {
        from { transform: translateX(calc(-1 * 5px)); }
        to   { transform: translateX(5px); }
    }
    margin-right: 5px;
    display: inline-block; 
    animation: toAndFro 1s ease-in-out infinite alternate;
    will-change: transform;
}

@mixin collapse-animation-open {
    max-height: 400px;
    opacity: 1;
    overflow: hidden;
    transform: translateY(0);
    padding: 15px 15px;
    margin-top: -3px;
    @media (min-width: 990px){
            max-height: 400px;
            opacity: 1;
            overflow: hidden;
            transform: translateY(0);
            padding: 25px 20px;
            margin-top: -3px;
            
    }
}

@mixin collapse-animation-border-open {
    border-radius: 5px;
}

@mixin collapse-animation-rotate-open {
    transform: rotate(-180deg);
}

@mixin collapse-animation-rotate-close {
    transform: rotate(0deg);
}
