
@mixin opacity-animation {
    @keyframes opacity-animation {
        from {
            opacity: 0;
        }
        to {
            opacity: 1; 
        }
    }
    animation: opacity-animation 1.2s ease-in-out; 
}

@mixin collapse-animation-open {
    @keyframes collapse-top-to-bottom {
        from {
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transform: translateY(-100%);
        }
        to {
            max-height: 400px;
            opacity: 1;
            transform: translateY(0);
        }
    }
    animation: collapse-top-to-bottom 0.3s ease-in-out forwards;
    @media (min-width: 990px){
        @keyframes collapse-top-to-bottom-d {
            from {
                max-height: 0;
                opacity: 0;
                overflow: hidden;
                transform: translateY(-100%);
            }
            to {
                max-height: 400px;
                opacity: 1;
                transform: translateY(0);
            }
        }
        animation: collapse-top-to-bottom-d 0.3s ease-in-out forwards;
    }
}

@mixin collapse-animation-close {
    @keyframes collapse-bottom-to-top {
        from {
            max-height: 400px;
            opacity: 1;
            overflow: hidden;
            transform: translateY(0);
        }
        to {
            max-height: 0; 
            opacity: 0;
            transform: translateY(-100%);
        }
    }
    animation: collapse-bottom-to-top 0.3s ease-in-out forwards;
    @media (min-width: 990px){
        @keyframes collapse-bottom-to-top-d {
            from {
                max-height: 400px;
                opacity: 1;
                overflow: hidden;
                transform: translateY(0);
            }
            to {
                max-height: 0; 
                opacity: 0;
                transform: translateY(-100%);
            }
        }
        animation: collapse-bottom-to-top-d 0.3s ease-in-out forwards;
    }
}
@mixin collapse-animation-border-open {
    @keyframes collapse-border-open {
        from {
            border-radius: 10px
        }
        to {
            border-radius: 5px
        }
    }
    animation: collapse-border-open 0.3s forwards;
}
@mixin collapse-animation-border-close {
    @keyframes collapse-border-close {
        from {
            border-radius: 5px
        }
        to {
            border-radius: 10px
        }
    }
    animation: collapse-border-close 0.3s forwards;
}

@mixin collapse-animation-rotate-open {
    @keyframes collapse-animation-rotate-open {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(-180deg);
            
        }
    }
    animation: collapse-animation-rotate-open 0.3s forwards;
}
@mixin collapse-animation-rotate-close {
    @keyframes collapse-animation-rotate-close {
        from {
            transform: rotate(-180deg);
            
        }
        to {
            transform: rotate(0);
        }
    }
    animation: collapse-animation-rotate-close 0.3s forwards;
}
