// mobile
@mixin banner-size-border-m {
    height: 111px;
    border-radius: 10px;
    width: 100%;
}

@mixin opacity-animation {
    @keyframes opacity-animation {
        from {
            opacity: 0;
        }
        to {
            opacity: 1; 
        }
    }
    animation: opacity-animation 1.2s ease-in-out; 
}

// desktop
@mixin banner-size-border-d {
    height: 223px;
    border-radius: 25px;
}