@use 'variables' as var;
@use 'mixins' as mix;


// mobile first

:root {
    font-family: 'Montserrat';
    line-height: 1.5;
    background-color: var.$primary-color;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    margin:0;
}
#root {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
    height: 100vh;
    justify-items: center;
}   

.main-container{
    min-width: 330px;
    width:100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    gap: 27px;
    box-sizing: border-box;
}
header{
    height: 46px;
    display:flex;
    justify-content: space-between;
    .logo{
        width: 145px;
        height: auto;
    }
    nav{
        display:flex;
        align-items: center;
        gap: 26px;
        a{
            color:black;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 500;
        &.active{
                text-decoration: underline;
            }
        }
    }
}
main{
    display:flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    .title-not-found{
        font-size: 96px;
        padding-top: 113px;
        margin-block-start: 0;
        margin-block-end: 0;
        color:var.$secondary-color;
    }
    .p-not-found{
        font-size: 18px;
        text-align:center;
        font-weight: 500;
        color:var.$secondary-color;
    }
    a{
        color:#000000;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .cards-container{
        display: grid;
        grid-template-columns: 335px;
        grid-auto-rows: 255px;
        gap: 22px;
        @include mix.opacity-animation;
    }
}
.logement-container{
    gap: 10px;
    div{
        width: 100%;
        max-width: 1240px;
    }
    h1{
        font-size: 18px;
        font-weight: 500;
        color: var.$secondary-color;
        margin: 0;
    }
    p{
        margin:0;
        font-size: 14px;
        font-weight: 500;
        margin: 0 0 10px 0;
    }
    .title-and-infos-container{
        display: flex;
        flex-direction: column;
        .title-container{
            flex: 2;
        }
        .profile-rating-container{
            display:flex;
            flex: 1;
            margin-top: 20px;
            gap: 10px;
        }
    }
    .logement-collapses{
        display: flex;
        gap: 20px;
        overflow: hidden;
        margin-top: 15px;
        flex-direction: column;
    }
}
.about-container{
    .about-collapse{
        width: 100%;
        max-width: 1023px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}    

footer{
    background-color:black;
    width: 100%;
    height: 209px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .logo{
        width: 122px;
        height: 39px;
    }
    p{
        color: var.$primary-color;
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: 12px;
        margin-top: 15px;
        span{
            display: block;
            text-align: center;
        }
    }
}

// version desktop   
@media (min-width: 990px){

    .main-container{
        max-width: 1440px;
        width:100%;
        padding: 45px;
        gap: 50px;
    }
    header{
        height: 68px;
        .logo{
            width: 210px;
        }
        nav{
            gap: 57px;
            a{
                text-transform: none;
                font-size: 24px;
            }
        }
    }
    main{
        .title-not-found{
            font-size: 250px;
        }
        .p-not-found{
            font-size: 36px;
        }
        a{
            font-size: 18px;
        }
        .cards-container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 340px;
            gap: 40px;
            background-color: #F6F6F6;
            padding: 40px;
            border-radius: 25px;
        }
        
    }
    .logement-container{
        gap: 10px;
        h1{
            font-size: 36px;
        }
        p{
            font-size: 18px;
        }
        .title-and-infos-container{
            display: flex;
            flex-direction: row;
            .profile-rating-container{
                display:flex;
                flex-direction: column-reverse;
                justify-content: space-around;
                margin-top: 0;
            }
        }
        .logement-collapses{
            flex-direction: row;
            gap: 50px;
        }
    }
    
    .about-container{
        .about-collapse{
            gap: 30px;
        }
    }
    footer{
        justify-content: end;
        .logo{
            margin-top: 20px;
        }
        p{
            font-size: 24px;
            margin-top: 40px;
            margin-bottom: 20px;
            span{
                display: inline;
            }
        }
    }
}